{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block body %}
    <div class="row">
        <div class="col-md-6 offset-md-3">  <!-- Bu grid ile login formunu ekrana ortaladık, ekran boyutundaki değişimlerden etkilenmiyor.-->
            <h3>Makale Oluştur</h3>
            <hr>

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.media}}  <!-- CK Editör için yaptık bunu-->
                {{form|crispy}}
                <br>
                <button type="submit" class="btn btn-info">Kaydet</button>
            </form>
        </div>
    </div>
{% endblock body %}