{% extends "layout.html" %}

{% block body %}
    <div class="row"> <!-- Şu anda detail sayfasına bakarsan bi tık sola daha yakın olduğunu görebilirsin, bunu tam ortalamak justify-content-center ile gerçekleştirilebilir fakat genel makaleler sayfasındada böyle gözüküyor ve still olarak daha tatlı bence.-->
        <div class="col-sm-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h2 class="fw-bolder mb-1">{{article.title}}</h2>
                    <!-- Post meta content-->
                    <div class="text-muted font-italic mb-2">{{article.created_date}}, <strong>{{article.author.username}}</strong></div>
                </header>
                <!-- Preview image figure-->
                {% if article.article_image %}  <!-- Bu koşul önemli, image eklenmeyen article'ları göstermeye çalışırken aşağıdaki komut hataya neden olur.-->
                    <figure class="mb-4"><img class="img-fluid rounded" src="{{article.article_image.url}}" alt="..." /></figure>
                {% endif %}
                <!-- Post content-->
                <section class="mb-5">
                    {{article.content|safe}}  <!-- Buradaki safe, normal metnin html dosyası gibi gözükmemesi için.-->
                </section>
                <hr>
                <h5><strong>Yorumlar</strong></h5>
                <hr>
                {% if comments %}
                    {% for comment in comments %}
                        <!-- Single comment-->
                        <div class="d-flex">
                            <div class="ms-3">
                                <div class="mt-0 fw-bold"><strong>{{comment.comment_author}}</strong></div>
                                <div class="font-italic text-muted">{{comment.comment_date}}</div>
                                {{comment.comment_content}}
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-secondary">
                        Bu makaleye herhangi bir yorum yazılmamış, ilk yorumu siz yapın!
                    </div>
                {% endif %}
                <section class="mb-5">
                    <div class="card bg-light">
                        <div class="card-body">
                            <!-- Comment form-->
                            <form method="POST" action="{% url 'article:comment' article.id%}" class="mb-4">  <!-- Anladığım kadarıyla bu form içinde butona basılması bir aksiyon olarak değerlendirilecek ve belirtilen url'ye gidilecek.-->
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>İsim:</label>
                                    <input name="comment_author" class="form-control" placeholder="İsminizi girin.">
                                </div>
                                <label>Yorum:</label>
                                <textarea name="comment_content" class="form-control" rows="3" placeholder="Yorum Ekle!"></textarea>
                                <br>
                                <button type="submit" class="btn btn-info" style="float: right;">Ekle</button>
                            </form>
                        </div>
                    </div>
                </section>
            </article>
        </div>
    </div>
{% endblock body %}